In [3]:
from pyspark.sql import SparkSession
import pandas as pd

In [6]:
spark =  SparkSession.builder.appName("Finger").master("local").getOrCreate()

In [7]:
file = spark.read.csv('/home/javier/Escritorio/TP1 Datos/events.csv', header=True)

### Prueba para ver que datos tiene el archivo y los nombres de las columnas

In [8]:
file.rdd.first()

Row(timestamp='2018-05-31 23:38:05', event='ad campaign hit', person='0004b0a2', url='/comprar/iphone/iphone-5s', sku=None, model=None, condition=None, storage=None, color=None, skus=None, search_term=None, staticpage=None, campaign_source='criteo', search_engine=None, channel=None, new_vs_returning=None, city=None, region=None, country=None, device_type=None, screen_resolution=None, operating_system_version=None, browser_version=None)

# Evento predominante

In [9]:
predominante = file.rdd.map(lambda x: (x.event,1)).reduceByKey(lambda x,y: x+y).reduce(lambda x,y : x if x[1]>y[1] else y)

In [10]:
print('El evento predominante es: '+predominante[0]+', con '+str(predominante[1])+' ocurrencias.')

El evento predominante es: viewed product, con 528931 ocurrencias.

# Top 5 dispositivos m√°s visitados

In [11]:
masvistos = file.rdd.filter(lambda x: x.event == 'viewed product').map(lambda x: (x.model,1)).reduceByKey(lambda x,y: x+y).takeOrdered(5, lambda x: -x[1])

In [12]:
df = pd.DataFrame(masvistos)
df.columns = ['Modelo','Visitas']
df.index = df.index + 1
df

                   Modelo  Visitas
1                iPhone 6    47538
2               iPhone 5s    42045
3               iPhone 6S    36930
4                iPhone 7    26330
5  Samsung Galaxy S7 Edge    23062